body {
    margin: 8px;
    padding: 8px;
    background-color: lightgray;
    text-align: center;
}

header img {
    max-width: 200px;
}

.size {
    font-size: 24px;
}

footer p {
    text-align: left;
}

.wiki {
    color: purple;
    font-size: 24px;
}