body {
    margin: 0;
    padding: 0;
}

header {
    background: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    color: white;
}

header p,
header h1 {
    text-align: center;
    padding: 8px;
}

header button {
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
    cursor: pointer;
}

.section1 {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 p {
    width: 50%;
    column-count: 2;
    text-align: center;
    column-gap: 30px;
    padding-bottom: 18px;
    font-size: 1.1em;
    line-height: 1.5;
}

.section2 {
    width: 100%;
    background-color: #333;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 32px 0px;
}

.photo {
    border: 1px solid;
    background-color: white;
    text-align: center;
    width: 20%;
    min-width: 300px;
}

.photo img {
    width: 100%;
    height: auto;
}

.photo-container {
    padding: 16px 24px;
}

.photo-content,
h2 {
    padding: 16px;
}

.photo,
p {
    font-size: 1.1em;
    line-height: 1.5;
}



.digital_needs,
.contact,
.about {
    padding: 24px;
    text-align: center;
}

.contact {
    background-color: #2690d4;
    color: white;
}

.about {
    background-color: #333;
    color: white;
}



footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 24px;
    text-align: center;
}

.email {
    overflow-wrap: anywhere;
    text-decoration: none;
    color: white
}

@media only screen and (max-width: 980px) {

    .photo {
        width: 80%;
        min-width: unset;
    }

    .section1 p {

        column-count: unset;
    }
}